.myCourses {
    text-align: center;

}

.myCourses .container {
    padding: 50px;
    display: inline-block;
    margin: 20px
}

.myCourses img {
    margin: 0 auto;
    width: 350px;
    height: 290px;
}

.myCourses textarea {
    text-align: center;
    font-size: 20px;
}