<div *ngIf="!authService.isAuthenticated()" class="background-img">
  <img class="anon-img" rel="background-img" alt="backgroundImage"
    src="http://www.slate.com/content/dam/slate/articles/arts/culturebox/2015/09/first_person_essays/150911_CBOX_FirstPerson-Lede.gif.CROP.promo-xlarge2.gif" />
  <a class="home-pic" routerLink='/register'>Get Started!</a>
</div>
<div *ngIf="authService.isAuthenticated()&&!authService.isAdmin()" id="container">
  <div class="course" *ngFor="let course of allCourses">
    <h2>
      {{course.title}}
    </h2>
    <img alt="courseImage" class="home-jpg" src="{{course.imageUrl}}" />
    <h2 class="price">Course cost: $ {{course.cost}}</h2>
    <a [routerLink]="['/takecourse/', course._id]" class="take-course-btn">
      Take Course
    </a>
  </div>
</div>
<div *ngIf="authService.isAdmin()" id="container">
  <div class="course" *ngFor="let course of allCourses">
    <h2>{{course.title}}</h2>
    <img alt="course" class="home-jpg" src={{course.imageUrl}} />
    <h2 class="price">Course cost: $ {{course.cost}}</h2>
    <a [routerLink]="['/editcourse/', course._id]" class="edit-course-btn">Edit Course</a>
    <a [routerLink]="['/deletecourse/', course._id]" class="delete-course-btn">Delete Course</a>
  </div>
</div>